.player-container {
  align-items: center;
  display: flex;
  flex-direction: row;
}

.player-image {
  border-radius: 50%;
  height: 40px;
  margin-right: 10px;
  width: 40px;
  background-repeat: no-repeat;
  background-size: contain;
  background: url('../../../assets/leo.jpg');
}
