<div class="header-menu">
  <span class="header-menu-title">Team Sorting</span>

  <button mat-icon-button
          class="header-menu-item"
          (click)="sort()"
          matTooltip="Sortear">
    <mat-icon>refresh</mat-icon>
  </button>
  <button mat-icon-button
          matTooltip="Mostrar Campo"
          class="header-menu-item"
          (click)="drawer.toggle()">
    <mat-icon>person</mat-icon>
  </button>
</div>

<div class="view-content">
  <mat-drawer-container>

    <mat-drawer-content>
      <div class="row" id="printTarget">
        <app-change-player [playersList]="playersList"></app-change-player>

        <div cdkDropListGroup>
          <app-team-list [teamList]="team1" [team]="1"></app-team-list>
          <app-team-list [teamList]="team2" [team]="2"></app-team-list>
        </div>
      </div>
    </mat-drawer-content>

    <mat-drawer [opened]="true" #drawer mode="side" position="end">
      <app-soccer-field [team1]="team1" [team2]="team2"></app-soccer-field>
    </mat-drawer>

  </mat-drawer-container>
</div>
